---
import { Code, Lightbulb, Award } from '@lucide/astro';
---

<section 
  id="about" 
  class="snap-start min-h-screen py-20 px-6 sm:px-12 lg:px-32 text-gray-100 flex flex-col justify-center"
>
  <h2 
    class="text-4xl font-bold mb-10 inline-block pb-2 bg-gradient-to-r from-amber-200 via-orange-300 to-amber-200 bg-clip-text text-transparent border-b-4 border-gradient-to-r animate-fade-in"
  >
    Sobre mí
  </h2>

  <p class="text-lg max-w-3xl mb-8 leading-relaxed text-gray-300 animate-fade-up">
    Hola, soy Borja, un desarrollador Full Stack apasionado por crear soluciones digitales innovadoras y eficientes. Con experiencia tanto en tecnologías frontend como backend, me especializo en crear experiencias de usuario fluidas y arquitecturas de aplicaciones robustas.
  </p>

  <div class="grid grid-cols-1 gap-6 max-w-5xl">
    
    <!-- What I Do -->
    <div 
      class="p-6 rounded-2xl border border-white/10 bg-gradient-to-br from-white/5 to-white/0 
                backdrop-blur-xl shadow-lg p-6 
                transition-transform duration-300
                hover:border-[#02fd9a4d]
                animate-fade-in
                hover:scale-101"
    >
      <div class="flex items-center gap-3 mb-4">
        <Code class="text-[#02fd9a]" size={28} />
        <h3 class="text-2xl font-semibold">Lo que hago</h3>
      </div>
      <ul class="list-disc list-inside space-y-2 text-gray-200">
        <li><strong>Desarrollo Frontend:</strong> Experiencia en la construcción de interfaces modernas y dinámicas con React.js y Angular, prestando especial atención a la experiencia del usuario y siguiendo las mejores prácticas en HTML, CSS y JavaScript moderno.</li>
        <li><strong>Desarrollo Backend:</strong> Habilidad en el desarrollo de aplicaciones robustas y escalables con Django, implementando APIs RESTful eficientes y seguras para conectar sin problemas el frontend y el backend.</li>
        <li><strong>Gestión de Bases de Datos:</strong> Competente en la gestión y optimización de bases de datos relacionales como MySQL y bases de datos no relacionales como MongoDB, asegurando rendimiento, seguridad e integridad de datos.</li>
      </ul>
    </div>

    <!-- My Approach -->
    <div class="p-6 rounded-2xl border border-white/10 bg-gradient-to-br from-white/5 to-white/0 
      backdrop-blur-xl shadow-lg p-6 
      transition-transform duration-300
      hover:border-[#02fd9a4d]
      animate-fade-in
      hover:scale-101"
    >
      <div class="flex items-center gap-3 mb-4">
        <Lightbulb class="text-[#02fd9a]" size={28} />
        <h3 class="text-2xl font-semibold">Mi enfoque</h3>
      </div>
      <p class="text-gray-200 leading-relaxed">
        Trato de transformar ideas en soluciones claras y útiles a través de código sencillo. Ya sea colaborando con un equipo o trabajando por mi cuenta, siempre busco aportar valor y superar lo que se espera.
      </p>
    </div>

  </div>
</section>
