---
import { Send, Mail } from '@lucide/astro'
---
<section id="contact">
<footer class="bg-[#1A1527] text-gray-300 px-6 sm:px-12 lg:px-32 border-t border-gray-800 snap-start min-h-screen flex flex-col justify-center">
  <div class="max-w-7xl space-y-12">

    <!-- Top Section -->
    <div class="flex flex-col md:flex-row md:justify-between md:items-start gap-12">

      <!-- Basic Contact -->
      <div class="space-y-4">
        <p class="text-3xl font-semibold bg-gradient-to-r from-amber-200 via-orange-300 to-amber-200 bg-clip-text text-transparent mb-6">Say Hello</p>
        <ul class="space-y-2">
          <li class="flex nowrap gap-2 hover:text-[#02fd9a] transition">
            <Mail />
            <a href="mailto:fbhidalgod@outlook.es">
              fbhidalgod@outlook.es
            </a>
          </li>
          <li class="flex nowrap gap-2 hover:text-[#02fd9a] transition">
            <Send />
            <a href="https://t.me/borjahidalgod" target="_blank" rel="noreferrer noopener">
              @borjahidalgod
            </a>
          </li>
        </ul>
      </div>

    </div>

    <!-- Bottom Section -->
    <div class="flex justify-between items-center gap-6 border-t border-gray-800 pt-6">

      <!-- Copyright -->
      <span class="text-sm text-gray-500">Website developed with Astro</span>

      <!-- Social Links -->
      <ul class="flex gap-4 text-sm font-medium">
        <li>
          <a href="https://github.com/borjah/" target="_blank" rel="noopener" class="hover:text-amber-300 transition">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                <path d="M12 .5C5.4.5 0 6 0 12.8c0 5.4 3.4 9.9 8.1 11.5.6.1.8-.3.8-.6v-2c-3.3.7-4-1.5-4-1.5-.5-1.4-1.3-1.8-1.3-1.8-1-.7.1-.7.1-.7 1.1.1 1.7 1.1 1.7 1.1 1 .1 1.5-.6 1.7-1 .1-.7.4-1.1.7-1.3-2.6-.3-5.3-1.4-5.3-6.1 0-1.3.5-2.4 1.2-3.3-.1-.3-.5-1.5.1-3.1 0 0 1-.3 3.4 1.2a11.6 11.6 0 0 1 6.1 0c2.4-1.5 3.4-1.2 3.4-1.2.6 1.6.2 2.8.1 3.1.8.9 1.2 2 1.2 3.3 0 4.8-2.7 5.8-5.3 6.1.4.3.7.9.7 1.9v2.8c0 .3.2.7.8.6 4.7-1.6 8.1-6.1 8.1-11.5C24 6 18.6.5 12 .5z"/>
                </svg>
            </a>
        </li>
        <li>
          <a href="https://www.linkedin.es/in/borjahidalgo" target="_blank" rel="noopener" class="hover:text-amber-300 transition">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 24 24">
                <path d="M19 0h-14c-2.8 0-5 2.2-5 5v14c0 2.8 2.2 5 5 5h14c2.7 0 5-2.2 5-5V5c0-2.8-2.3-5-5-5zM8 19H5V9h3v10zm-1.5-11.4c-1 0-1.8-.8-1.8-1.8S5.5 4 6.5 4s1.8.8 1.8 1.8-.8 1.8-1.8 1.8zM20 19h-3v-5.5c0-1.3-.5-2.1-1.7-2.1-.9 0-1.4.6-1.6 1.2-.1.2-.1.5-.1.8V19h-3s.1-9.1 0-10h3v1.4c.4-.7 1.1-1.6 2.8-1.6 2 0 3.6 1.3 3.6 4.1V19z"/>
                </svg>
            </a>
        </li>
        <li>
          <a href="https://www.notion.so/Francisco-de-Borja-Hidalgo-Delgado-CV-94215ae48e8246ea839db304304489af?pvs=4" target="_blank" rel="noopener" class="hover:text-amber-300 transition">
            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M4.459 4.208c.746.606 1.026.56 2.428.466l13.215-.793c.28 0 .047-.28-.046-.326L17.86 1.968c-.42-.326-.981-.7-2.055-.607L3.01 2.295c-.466.046-.56.28-.374.466zm.793 3.08v13.904c0 .747.373 1.027 1.214.98l14.523-.84c.841-.046.935-.56.935-1.167V6.354c0-.606-.233-.933-.748-.887l-15.177.887c-.56.047-.747.327-.747.933zm14.337.745c.093.42 0 .84-.42.888l-.7.14v10.264c-.608.327-1.168.514-1.635.514-.748 0-.935-.234-1.495-.933l-4.577-7.186v6.952L12.21 19s0 .84-1.168.84l-3.222.186c-.093-.186 0-.653.327-.746l.84-.233V9.854L7.822 9.76c-.094-.42.14-1.026.793-1.073l3.456-.233 4.764 7.279v-6.44l-1.215-.139c-.093-.514.28-.887.747-.933zM1.936 1.035l13.31-.98c1.634-.14 2.055-.047 3.082.7l4.249 2.986c.7.513.934.653.934 1.213v16.378c0 1.026-.373 1.634-1.68 1.726l-15.458.934c-.98.047-1.448-.093-1.962-.747l-3.129-4.06c-.56-.747-.793-1.306-.793-1.96V2.667c0-.839.374-1.54 1.447-1.632z"></path></svg>
          </a>
        </li>
      </ul>

    </div>

  </div>
</footer>
</section>