---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from 'astro:transitions';

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Portafolio personal para mostrar mi trabajo y mis habilidades." } = Astro.props;

export const prerender = true;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth snap-y snap-mandatory h-full overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

    <title>{title}</title>
    <ClientRouter />


    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap" rel="stylesheet">
    
    
  </head>
  <body class=" text-gray-900 dark:text-white">
    <Header />
    <main class="max-w-5xl mx-auto p-6">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'IBM Plex Mono', monospace;
  }
</style>
